<div class="card">
    <div class="card-body">
        <form>
            <div class="col-md-6 col-md-offset-3">

                <!-- Início do bloco: Nome do Produto -->
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="nomeProduto" #nomeProduto>
                </div>
                <!-- Fim do bloco: Nome do Produto -->

                <!-- Início do bloco: Quantidade -->
                <div class="form-group">
                    <label>Quantidade</label>
                    <input type="number" min="0" class="form-control" #quantidade>
                </div>
                <!-- Fim do bloco: Quantidade -->

                <!-- Início do bloco: Preço -->
                <div class="form-group">
                    <label>Preço</label>
                    <input type="number" min="0" class="form-control" #preco>
                </div>
                <!-- Fim do bloco: Preço -->

                <div class="form-group">
                    <button (click)="adicionarProduto(nomeProduto.value, quantidade.value, preco.value)" type="button" class="btn btn-primary">Produto</button>
                </div>

            </div>
        </form>
    </div>
</div>